<section class="meat_about antibio-resist">
    <div class="meat_about__wrapper antibio-resist__wrapper">
        <img src="/img/base/resist-image.jpg" alt="" class="meat_about__image antibio-resist__image">
        <div class="meat_about__content container antibio-resist__content">
            <div class="section-subtitle">Антибиотики в животноводстве</div>
            <h2 class="section-title">Антибиотики <span>в животноводстве</span> используют для трех причин:</h2>
            <ul class="meat_about__list">
                <li class="list_item">
                    <span>01.</span>Насыщенный вкус
                </li>
                <li class="list_item">
                    <span>02.</span>Нежная текстура
                </li>
                <li class="list_item">
                    <span>03.</span>Полезные свойства
                </li>
            </ul>
            <div class="meat_about__text">В 2011 году в силу вступил закон о запрете стимулирования роста, и он положительно повлиял на индустрию. Сегодня мир идет к тому, чтобы регулировать количество потребляемых животными и птицей антибиотиков и ограничивать срок их употребления. Так вещества частично успевали бы выходить из организма животных, а мясо становилось безопаснее.</div>
        </div>
    </div>
</section>