<div class="antibio-fact">
    <div class="container antibio-fact__wrapper">
        <div class="antibio-fact__subheader">Интересный факт</div>
        <div class="antibio-fact__header">В странах Европы и на других свиноводческих фермах Украины существует <span>понятие двойных стандартов</span></div>
        <div class="antibio-fact__text">Сегодня маркировка “без антибиотиков” означает, что поросятам дают антибиотики первые 4 месяца жизни и только в последние 2 месяца их не используют</div>
    </div>
</div>