<div class="antibio-slider">
    <div class="antibio-slider__swiper swiper">
        <div class="antibio-slider__pagination"></div>
        <div class="swiper-wrapper">
            <div class="antibio-slider__slide swiper-slide">
                <div class="antibio-slider__content">
                    <div class="antibio-slider__subheader"><%=subtitle.slide_one%></div>
                    <div class="antibio-slider__header"><%=title.slide_one%></div>
                    <div class="antibio-slider__text"><%=text.slide_one%></div>
                </div>
                <img src="<%=img.slide_one%>" alt="" class="antibio-slider__img">
            </div>
            <div class="antibio-slider__slide swiper-slide">
                <div class="antibio-slider__content">
                    <div class="antibio-slider__subheader"><%=subtitle.slide_two%></div>
                    <div class="antibio-slider__header"><%=title.slide_two%></div>
                    <div class="antibio-slider__text"><%=text.slide_two%></div>
                </div>
                <img src="<%=img.slide_two%>" alt="" class="antibio-slider__img">
            </div>
            <div class="antibio-slider__slide swiper-slide">
                <div class="antibio-slider__content">
                    <div class="antibio-slider__subheader"><%=subtitle.slide_three%></div>
                    <div class="antibio-slider__header"><%=title.slide_three%></div>
                    <div class="antibio-slider__text"><%=text.slide_three%></div>
                </div>
                <img src="<%=img.slide_three%>" alt="" class="antibio-slider__img">
            </div>
        </div>
    </div>
</div>