<section class="antibio-texts">
    <div class="antibio-texts__wrapper">
        <div class="container antibio-texts__left">
            <span>Производство без антибиотиков — главный показатель качества хорошей работы.</span>
            <span>Если концепция бизнеса действительно хороша, а работа слажена — система не требует лекарств. Для животных, как и для человека, постоянно сидеть на антибиотиках — вредно и опасно. А болезни, которые уже давно не смертельны станут смертельными снова.</span>
        </div>
        <div class="container antibio-texts__right">

            <div class="antibio-texts__subheader">Что помогает нам работать без антибиотиков</div>
            <div class="antibio-texts__header">Tomaso — ферма, которая принципиально <span>не использует антибиотики</span> при выращивании животных. </div>
            <div class="antibio-texts__text">Мы разработали уникальную Cистему Тимошовка — свод правил, который позволяет выводить свиноводство на новый уровень. Уже сегодня более 40 фермерских хозяйств Швейцарии используют наши наработки и отказываются от употребления антибиотиков без надобности.</div>
            <div class="antibio-texts__hr"></div>
            <div class="antibio-texts__text">Наши поросята никогда не получали антибиотики ни через корм, ни через воду, и растут здоровыми. Это возможно благодаря высокому стандарту менеджмента.  
                Если животные болеют, мы даем антибиотики через шприц и маркируем их. Такое мясо впоследствии не продается с маркировкой “мясо без антибиотиков”.</div>

        </div>
    </div>
</section>