<div class="damage">
    <div class="container damage__wrapper">
        <img src="/img/base/damage_image.jpg" alt="" class="damage__image">
        <div class="damage__content">
            <div class="damage__subtitle">Вред антибиотиков</div>
            <div class="damage__title">использование антибиотиков при выращивании мяса может нести <span>глобальный вред</span> для человеческих жизней</div>
            <div class="damage__text">Сейчас практически во всем мире нет правил и регулировок по количеству использования антибиотиков. Исследования новых типов не проводятся, так как это длительный и дорогой процесс.</div>
            <hr class="damage__line">
            <div class="damage__text">За период 2000-2019 гг было лишь <span>5 регистраций</span> классов препаратов. Отсутствие новых разработок должно повышать важность существующих антибиотиков и уменьшать количество их употребления.</div>
        </div>
    </div>
</div>