<div class="howcheck">
    <div class="container howcheck__wrapper">
        <div class="howcheck__title">Как проверить мясо</div>
        <div class="howcheck__step">
            <div class="howcheck__number">01.</div>
            <div class="howcheck__info">
                <div class="howcheck__subheader">В домашних условиях</div>
                <h2 class="howcheck__header">Наблюдать дома</h2>
                <p class="howcheck__text">Один из способов: оставить мясо вне холодильника. Если оно долго не портится, значит насыщено антибиотиками.</p>
                <a href="#" class="howcheck__link">Лаборатории в Украине</a>
            </div>
        </div>
        <div class="howcheck__step">
            <div class="howcheck__number">02.</div>
            <div class="howcheck__info">
                <div class="howcheck__subheader">Проверить самостоятельно</div>
                <h2 class="howcheck__header">Экспресс-тест</h2>
                <p class="howcheck__text">Набор полосок, которые в течение 3-4 часов показывают точное наличие групп антибиотиков в мясе.</p>
                <a href="#" class="howcheck__link">Лаборатории в Украине</a>
            </div>
        </div>
        <div class="howcheck__step">
            <div class="howcheck__number">03.</div>
            <div class="howcheck__info">
                <img src="/img/icons/circle-text.svg" alt="" class="howcheck__circle">
                <div class="howcheck__subheader howcheck__subheader--limited">Отвезти в лабораторию</div>
                <h2 class="howcheck__header howcheck__header--limited">Анализ <br>в лаборатории</h2>
                <p class="howcheck__text">Он покажет микроэлементы, витамины и белки, наличие ГМО и антибиотиков в составе мяса.</p>
                <a href="#" class="howcheck__link">Лаборатории в Украине</a>
            </div>
        </div>
    </div>
</div>