.farm__slider {
    background: #fff;

    @include media-up(lg) {
        background: $color-white-1;
    }

    .about--slider {
        &__pagination {
            margin-top: 40px;
        }
    }
}
