<section class="culture">
    <div class="container culture__wrapper">
        <img src="img/base/culture_image.jpg" alt="" class="culture__image">
        <div class="culture__content">
            <div class="culture__subtitle">О подходе</div>
            <div class="culture__title">Новая <span>культура потребления мяса</span> основана на осознанном подходе к жизни и изменениям</div>
            <div class="culture__text">Мы хотим, чтобы наши клиенты знали о ценности мяса и правилах здорового потребления, разбирались в том, как контролировать качество продукта и почему антибиотики на фермах зачастую вредны. Tomaso — проект, созданный для изменений, и мы хотим, чтобы к нам присоединилось как можно больше людей.</div>
            <a class="culture__btn btn btn--transparent btn--grey-borders" href="#">Стать партнером</a>
        </div>
    </div>
</section>