<section class="bottom-banner <%if (sectionClass) {%><%=sectionClass%><%}%>">
    <div class="container bottom-banner__container">

        <div class="bottom-banner__content">
            <h2 class="section-title bottom-banner__title"><%=title%></h2>
            <div class="section-subtitle bottom-banner__subtitle"><%=subtitle%></div>
        </div>
        <%if (btn_text) {%>
        <a href="#form" data-fancybox="" class="btn btn--green banner__button"><%=btn_text%></a>
        <%}%>
    </div>

    <img src="<%=image_link%>" class="banner__bg" alt="">

</section>
