<section class="meat_about">
    <div class="container meat_about__wrapper">
        <img src="/img/base/meat_image.jpg" alt="" class="meat_about__image">
        <div class="meat_about__content">
            <div class="section-subtitle">О мясе</div>
            <h2 class="section-title">Tomaso — ИЗДЕЛИЯ ИЗ СВИНИНЫ <span>НАИВЫСШЕГО КАЧЕСТВА</span></h2>
            <div class="meat_about__text">
                С 2011 года мы выращиваем отборных свиней для производства украинского хамона и прошутто без антибиотиков.
            </div>
            <ul class="meat_about__list">
                <li class="list_item">
                    <span>01.</span>Насыщенный вкус
                </li>
                <li class="list_item">
                    <span>02.</span>Нежная текстура
                </li>
                <li class="list_item">
                    <span>03.</span>Полезные свойства
                </li>
            </ul>
            <a href="#" class="btn btn--grey-borders">Подробнее про мясо </a>
        </div>
    </div>
</section>

