<section class="products_section">
    <div class="container">
        <h2>Продукция</h2>
        <h3><span>ТО МЯСО</span> БЕЗ АНТИБИОТИКОВ</h3>
        <div class="products_slider swiper-container">
            <div class="swiper-wrapper">
                <div class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-1.jpg" alt="">
                    </div>
                    <div class="products_name">Хамон</div>
                </div>
                <div class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-2.jpg" alt="">
                    </div>
                    <div class="products_name">Прошутто</div>
                </div>
                <div class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-3.jpg" alt="">
                    </div>
                    <div class="products_name">Колбасы</div>
                </div>
                <div class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-4.jpg" alt="">
                    </div>
                    <div class="products_name">Сосиски</div>
                </div>
                <div class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-5.jpg" alt="">
                    </div>
                    <div class="products_name">Паштет</div>
                </div>
                <div class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-6.jpg" alt="">
                    </div>
                    <div class="products_name">Гуляш</div>
                </div>
                <div class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-1.jpg" alt="">
                    </div>
                    <div class="products_name">Хамон</div>
                </div>                <div class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-2.jpg" alt="">
                    </div>
                    <div class="products_name">Прошутто</div>
                </div>
            </div>
        </div>
    </div>
</section>

