<section class="products_section">
    <div class="products_marker">
        <img src="../../../img/icons/antibiotic_marker.svg" alt="">
    </div>
    <div class="container">
        <div class="section-subtitle section-subtitle--center">Продукция</div>
        <h2 class="section-title section-title--center"><span>ТО МЯСО</span> БЕЗ АНТИБИОТИКОВ</h2>
        <div class="products_slider swiper-container">
            <div class="swiper-wrapper">
                <a href="#" class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-1.png" alt="">
                    </div>
                    <div class="products_name">Свежее мясо</div>
                </a>
                <a href="#" class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-2.png" alt="">
                    </div>
                    <div class="products_name">Прошутто</div>
                </a>
                <a href="#" class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-3.png" alt="">
                    </div>
                    <div class="products_name">Колбасы</div>
                </a>
                <a href="#" class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-4.png" alt="">
                    </div>
                    <div class="products_name">Сосиски</div>
                </a>
                <a href="#" class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-5.png" alt="">
                    </div>
                    <div class="products_name">Паштет</div>
                </a>
                <a href="#" class="products_item swiper-slide">
                    <div class="products_image">
                        <img src="/img/base/product_image-6.png" alt="">
                    </div>
                    <div class="products_name">Гуляш</div>
                </a>
            </div>
        </div>
        <div class="products_navigation">
            <div class="products_arrow products_arrow--left">
                <svg width="24" height="24">
                    <use xlink:href="#slider_arrow--left"></use>
                </svg>
            </div>
            <div class="products_arrow products_arrow--right">
                <svg width="24" height="24">
                    <use xlink:href="#slider_arrow--right"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

