<section class="slider">
    <div class="container">

        <div class="slider__content">
            <div class="section-subtitle"><%=subtitle%></div>
            <h2 class="section-title "><%=title%></h2>
        </div>

        <div class="slider__content">
            <div class="swiper slider__main-vertical">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="slide_image">
                            <img src="<%=slider.image_link_1%>" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slide_image">
                            <img src="<%=slider.image_link_2%>" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slide_image">
                            <img src="<%=slider.image_link_3%>" alt="">
                        </div>
                    </div>

                </div>
                <div class="main-vertical--pagination"></div>

            </div>
        </div>
    </div>


</section>


