<section class="slider slider--main-vertical slider--main-vertical-<%=slider.classPref%><%if (slider.reverse) {%><%=slider.reverse%><%}%>">
    <div class="container-small slider__container">

        <div class="slider__content">
            <div class="section-subtitle"><%=subtitle%></div>
            <h2 class="section-title "><%=title%></h2>
            <div class="meat_about__text"><%=text%></div>
            <a href="#" class="btn btn--grey-borders btn--desktop slider__btn">Подробнее</a>
        </div>

        <div class="swiper swiper-slider swiper-container ">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="slide_image">
                        <img src="<%=slider.image_link_1%>" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide_image">
                        <img src="<%=slider.image_link_2%>" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide_image">
                        <img src="<%=slider.image_link_3%>" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="main-vertical__nav">
            <div class="main-vertical__prev main-vertical-<%=slider.classPref%>__prev"></div>

            <div class="main-vertical__pagination main-vertical-<%=slider.classPref%>__pagination"></div>

            <div class="main-vertical__next main-vertical-<%=slider.classPref%>__next"></div>
        </div>

        <a href="#" class="btn btn--grey-borders btn--mobile">Подробнее</a>

    </div>


</section>


