<section class="where_buy">
    <div class="container">
        <div class="section-subtitle">Где купить</div>
        <h2 class="section-title">ГОТОВЫЕ ИЗДЕЛИЯ <span>Tomaso</span> МОЖНО КУПИТЬ В <br>ПАРТНЕРСКИХ СЕТЯХ ПО УКРАИНЕ</h2>
        <div class="where_buy__content">
            <div class="where_buy__item">
                <div class="where_buy__item-image">
                    <img src="img/base/where_buy__image-1.png" alt="">
                </div>
                <a href="#maps-modal" data-fancybox class="where_buy__item-link">Смотреть на карте</a>
            </div>
            <div class="where_buy__item">
                <div class="where_buy__item-image">
                    <img src="img/base/where_buy__image-2.png" alt="">
                </div>
                <a href="#maps-modal" data-fancybox class="where_buy__item-link">Смотреть на карте</a>
            </div>
            <div class="where_buy__item">
                <div class="where_buy__item-image">
                    <img src="img/base/where_buy__image-3.png" alt="">
                </div>
                <a href="#maps-modal" data-fancybox class="where_buy__item-link">Смотреть на карте</a>
            </div>
            <div class="where_buy__item">
                <div class="where_buy__item-image">
                    <img src="img/base/where_buy__image-4.png" alt="">
                </div>
                <a href="#maps-modal" data-fancybox class="where_buy__item-link">Смотреть на карте</a>
            </div>
        </div>
        <a href="#" class="btn btn--green btn--center">Подробнее про мясо </a>
    </div>
</section>

