<section class="form form--contact">
    <div class="container form__wrapper">
        <h2 class="form__title"><%= formTitle%></h2>
        <form action="#">
            <div class="form__row form__row-full">
                <label>Ваше имя*<br>
                    <span class="wpcf7-form-control-wrap your-email">
                        <input type="text" name="your-name" value="" class="wpcf7-form-control" placeholder="Имя">
                    </span>
                </label>
            </div>
            <div class="form__row">
                <label>Телефон*<br>
                    <span class="wpcf7-form-control-wrap your-email">
                        <input type="number" name="your-phone" value="" class="wpcf7-form-control" placeholder="Телефон">
                    </span>
                </label>
                <label>E-mail*<br>
                    <span class="wpcf7-form-control-wrap your-email">
                        <input type="email" name="your-mail" value="" class="wpcf7-form-control" placeholder="E-mail">
                    </span>
                </label>
            </div>

            <%if (select) {%>
            <div class="form__row form__row-full">
                <div class="custom-select">
                    <span class="caption">Тип сотрудничества*</span>
                    <select>
                        <option value="1">Франчайзинг Системы Тимошовка</option>
                        <option value="2">Франчайзинг Системы Тимошовка 2</option>
                        <option value="3">Франчайзинг Системы Тимошовка 3</option>
                        <option value="4">Франчайзинг Системы Тимошовка 4</option>
                    </select>
                </div>
            </div>
            <%}%>

            <%if (textarea) {%>
            <div class="form__row form__row-full">
                <label> Ваше сообщение<br>
                    <span class="wpcf7-form-control-wrap your-message">
                        <textarea name="your-message" class="wpcf7-form-control" placeholder="Сообщение"></textarea>
                    </span>
                </label>
            </div>
            <%}%>

            <div class="form__row form__row-full">
                <input type="submit" value="Отправить" class="wpcf7-form-control btn btn--green btn--center">
                <span class="wpcf7-spinner"></span>
            </div>
        </form>
    </div>
</section>
