.antibio-resist {
    background: $color-white-1;
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 40px;
    padding-bottom: 0px;

    @include media-up(lg) {
        padding-top: 0;
        padding-bottom: 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        @include media-up(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;
            gap: 95px;
        }
    }

    &__content {
        @include media-up(lg) {
            padding-top: 99px;
            padding-bottom: 94px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 554px;
            margin-left: 0;
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: 263px;
        object-fit: cover;
        margin-top: 30px;

        @include media-up(md) {
            height: 480px;
            margin-top: 15px;
        }

        @include media-up(lg) {
            max-height: 100%;
            height: 874px;
            margin-top: 0px;
        }
    }
}
