.antibio-green {
    background-image: none;
    
    .banner-green__title {
        @include media-up(lg) {
            font-size: 28px;
            line-height: 40px;
        }

        span {
            font-weight: 500;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    @include media-up(lg) {
        padding-top: 60px;
        padding-bottom: 76px;
    }

}