.antibio-texts {

    &__wrapper {
        @include media-up(md) {
            padding: 15px;
            max-width: 1200px;
            margin: auto;
        }

        @include media-up(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 95px;
        }
    }

    &__left {
        padding-top: 30px;
        padding-bottom: 30px;
        background: $color-white;

        @include media-up(lg) {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #fff;
            padding-right: 80px;

            span {
                display: block;
                margin-bottom: 24px;
            }

            &:after {
                content: '';
                position: absolute;
                right: 30px;
                height: calc(100% - 210px);
                width: 1px;
                background: $color-black;
                opacity: 0.2;
            }
        }
    }

    &__right {
        padding-top: 31px;
        padding-bottom: 30px;

        @include media-up(lg) {
            padding-top: 110px;
            padding-bottom: 94px;
        }
    }

    &__subheader {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    &__header {
        margin-top: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        color: $color-black;

        span {
            color: $color-green;
        }

        @include media-up(lg) {
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 20px;
        }
    }

    &__text {
        margin: 10px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $color-dark;

        @include media-up(lg) {
            margin-top: 0;
            margin-bottom: 25px;
        }
    }

    &__hr {
        margin: 15px 0;
        height: 1px;
        background: $color-black;
        opacity: 0.2;

        @include media-up(lg) {
            display: none;
        }
    }

}