<div class="fancymaps" id="maps-modal">

        <div class="fancymaps__modal-logo">
            <svg width="80" height="27">
                <use xlink:href="#logo_text"></use>
            </svg>
            <svg width="65" height="30">
                <use xlink:href="#logo"></use>
            </svg>
        </div>

        <div class="fancymaps__head">
            <div class="fancymaps__content">
                <img src="img/base/where_buy__image-1.png" alt="" class="fancymaps__logo">
                <div class="fancymaps__title">Goodwine</div>
            </div>
            <div class="fancymaps__content">
                <img src="img/base/where_buy__image-2.png" alt="" class="fancymaps__logo">
                <div class="fancymaps__title">Winetime</div>
            </div>
            <div class="fancymaps__content">
                <img src="img/base/where_buy__image-3.png" alt="" class="fancymaps__logo">
                <div class="fancymaps__title">Le silpo</div>
            </div>
            <div class="fancymaps__content">
                <img src="img/base/where_buy__image-4.png" alt="" class="fancymaps__logo">
                <div class="fancymaps__title">Деликат</div>
            </div>
        </div>

        <div class="swiper fancymaps__maps">
            <div class="swiper-wrapper fancymaps__wrapper">
                <div class="swiper-slide fancymaps__slide">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d132052.6986800868!2d30.45627231321053!3d50.460255605022496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgoodwine!5e0!3m2!1sru!2sru!4v1637152364115!5m2!1sru!2sru" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="swiper-slide fancymaps__slide">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d194462.08243590788!2d30.328776087268825!3d50.386440490898046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1swinetime!5e0!3m2!1sru!2sru!4v1637152159580!5m2!1sru!2sru" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="swiper-slide fancymaps__slide">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d278044.8900280077!2d30.373546905150114!3d50.41761777026021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sle%20silpo!5e0!3m2!1sru!2sru!4v1637159880241!5m2!1sru!2sru" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="swiper-slide fancymaps__slide">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d278127.4693695879!2d31.739160842261207!3d49.44016172783745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LTQtdC70LjQutCw0YIg0YPQutGA0LDQuNC90LA!5e0!3m2!1sru!2sru!4v1637159995957!5m2!1sru!2sru" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>

        <div class="fancymaps__pagination"></div>

</div>