<section class="attitude">
    <div class="container">
        <div class="section-subtitle section-subtitle--center">Отношение к животным</div>
        <h2 class="section-title section-title--center">В свиноводстве мы придерживаемся <span>5 прав животных</span>, установленных в 1960-х гг. как международный метод оценки уровня благополучия.</h2>

        <div class="attitude__block attitude_slider swiper">
            <div class="swiper-wrapper">
                <div class="attitude__item swiper-slide">
                    <div class="attitude__item-image">
                        <img src="img/icons/attitude__image-1.svg" alt="">
                    </div>
                    <div class="attitude__item-title">
                        Право утолять <br>голод и жажду
                    </div>
                </div>
                <div class="attitude__item swiper-slide">
                    <div class="attitude__item-image">
                        <img src="img/icons/attitude__image-2.svg" alt="">
                    </div>
                    <div class="attitude__item-title">
                        Право на лечение от боли, болезней и ран
                    </div>
                </div>
                <div class="attitude__item swiper-slide">
                    <div class="attitude__item-image">
                        <img src="img/icons/attitude__image-3.svg" alt="">
                    </div>
                    <div class="attitude__item-title">
                        Право не подвергаться сильному стрессу и не испытывать страх
                    </div>
                </div>
                <div class="attitude__item swiper-slide">
                    <div class="attitude__item-image">
                        <img src="img/icons/attitude__image-4.svg" alt="">
                    </div>
                    <div class="attitude__item-title">
                        Право на комфорт
                    </div>
                </div>
                <div class="attitude__item swiper-slide">
                    <div class="attitude__item-image">
                        <img src="img/icons/attitude__image-5.svg" alt="">
                    </div>
                    <div class="attitude__item-title">
                        Право жить в условиях, максимально приближенных к естественным
                    </div>
                </div>
            </div>
            <div class="attitude_slider__pagination"></div>
        </div>

        <div class="attitude__description">
            На ферме Тимошовка мы заботимся о благополучии животных и создаем максимально комфортные условия для их жизни: полноценное здоровое питание, лечение, внимание и возможность удовлетворять свои нужды. Это также способствует здоровью животных и положительно влияет на вкус мяса.
        </div>
    </div>
</section>


