<div class="excursion-gallery">
    <div class="container excursion-gallery__wrapper">

        <div class="excursion-gallery__subheader">Наша команда</div>
        <div class="excursion-gallery__header">Экскурсию по ферме проводит совладелец <span>Томас Бруннер</span></div>

        <div class="swiper excursion-gallery__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide excursion-gallery__slide">
                    <img src="img/base/excursion-gallery-1.jpg" alt="" class="excursion-gallery__img">
                </div>
                <div class="swiper-slide excursion-gallery__slide">
                    <img src="img/base/excursion-gallery-2.jpg" alt="" class="excursion-gallery__img">
                </div>
                <div class="swiper-slide excursion-gallery__slide">
                    <img src="img/base/excursion-gallery-3.jpg" alt="" class="excursion-gallery__img">
                </div>
            </div>
        </div>

        <div class="excursion-gallery__nav">
            <div class="excursion-gallery__nav-line"></div>
            <div class="excursion-gallery__prev"></div>
            <div class="excursion-gallery__pagination"></div>
            <div class="excursion-gallery__next"></div>
            <div class="excursion-gallery__nav-line"></div>
        </div>

    </div>
</div>