<div class="excursion-slider">
    <div class="container excursion-slider__wrapper">
        <div class="exursion-slider__left">
            <div class="excursion-slider__subtitle"><%=subtitle%></div>
            <div class="excursion-slider__title"><%=title%></div>
            <div class="excursion-slider__pagination"></div>
        </div>
        <div class="swiper excursion-slider__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="excursion-slider__header">Экскурсия для <br>потенциальных партнеров</div>
                    <div class="excursion-slider__text">В экскурсию входит прогулка по ферме, а также рассказ о процессах выращивания животных без антибиотиков, проверок здоровья и качества мяса.</div>
                    <img src="img/base/excursion-slider__img-one.jpg" alt="" class="excursion-slider__img">
                </div>
                <div class="swiper-slide">
                    <div class="excursion-slider__header">Экскурсия <br>для франчайзи</div>
                    <div class="excursion-slider__text">Прогулка по ферме, детальный разбор Системы Тимошовка, возможностей и перспектив создания бизнеса без антибиотиков. Возможна отдельная консультация по вопросам бизнес-процессов и цикла производства.</div>
                    <img src="img/base/excursion-slider__img-one.jpg" alt="" class="excursion-slider__img">
                </div>
                <div class="swiper-slide">
                    <div class="excursion-slider__header">Экскурсия <br>для журналистов</div>
                    <div class="excursion-slider__text">Обзор фермы, возможность отснять фото- и видеоматериалы, а также время для интервью.</div>
                    <img src="img/base/excursion-slider__img-one.jpg" alt="" class="excursion-slider__img">
                </div>
                <div class="swiper-slide">
                    <div class="excursion-slider__header">Экскурсия <br>для всех желающих</div>
                    <div class="excursion-slider__text">Экскурсия по отдельным частям фермы, рассказ о системе работы. Экскурсии не проводятся на регулярной основе.</div>
                    <img src="img/base/excursion-slider__img-one.jpg" alt="" class="excursion-slider__img">
                </div>
            </div>
        </div>
    </div>
</div>