<div class="publications">
    <div class="container-small publications__wrapper">
        <div class="publications__title">Tomaso в СМИ</div>
        <div class="publications__content">
            <a href="#" class="publications__link">
                <div class="publications__header">Швейцарское признание: украинская свинина без антибиотиков</div>
                <div class="publications__date">15.06.2020</div>
            </a>
            <a href="#" class="publications__link">
                <div class="publications__header">Еко-свині. Як топ-менеджер з Австрії фермерствує в Україні?</div>
                <div class="publications__date">15.06.2020</div>
            </a>
            <a href="#" class="publications__link">
                <div class="publications__header">Швейцарское признание: украинская свинина без антибиотиков</div>
                <div class="publications__date">15.06.2020</div>
            </a>
        </div>
    </div>
</div>