<section class="two-facts-mobile">
    <div class="container-small two-facts-mobile__wrapper">
        <div class="two-facts-mobile__fact">
            <div class="two-facts-mobile__number">01.</div>
            <div class="two-facts-mobile__header">Хочу создать социально ответственный бизнес в Украине и мире.</div>
            <div class="btn btn--transparent btn--green-borders two-facts-mobile__button">Франчайзинг Системы Тимошовка</div>
        </div>
        <div class="two-facts-mobile__fact">
            <div class="two-facts-mobile__number">02.</div>
            <div class="two-facts-mobile__header">Хочу поддерживать развитие бизнеса без антибиотиков и продавать готовые изделия.</div>
            <div class="btn btn--transparent btn--green-borders two-facts-mobile__button">Реализация продукции Tomaso</div>
        </div>
    </div>
</section>