.publications {

    &__wrapper {
        padding-top: 50px;
        padding-bottom: 50px;

        @include media-up(lg) {
            padding-top: 93px;
            padding-bottom: 100px;
        }
    }

    &__title {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-align: center;

        @include media-up(lg) {
            margin-bottom: 58px;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 40px;
        }
    }

    &__link {
        display: block;
        padding: 20px 0;
        border-top: 0.5px solid rgba(3, 14, 5, 0.2);

        &:hover {
            .publications__header {
                color: $color-green;
            }
        }

        @include media-up(lg) {
            padding: 30px 0;
        }
    }

    &__header {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: $color-black;
        transition: .25s color;

        @include media-up(lg) {
            font-weight: 600;
            font-size: 25px;
            line-height: 40px;
        }
    }

    &__date {
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $color-dark;

        @include media-up(lg) {
            margin-top: 7px;
        }
    }

    &--up {
        background: $color-white-1;

        @include media-up(lg) {
            padding-bottom: 70px;
        }

        .publications__wrapper {

            @include media-up(lg) {
                padding: 60px;
                background: #F8F8F8;
                position: relative;
                top: -245px;
                margin-bottom: -245px;
            }
        }

        .publications__title {
            margin-bottom: 15px;
            font-style: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;
            color: #030E05;

            @include media-up(lg) {
                font-size: 45px;
                line-height: 66px;
                margin-bottom: 30px;
            }
        }

        .publications__link {
            @include media-up(lg) {
                &:first-child {
                    border-top: 0;
                }
            }
        }
    }
}
