.two-facts-mobile {
    background: $color-white-1;

    @include media-up(lg) {
        display: none;
    }

    &__wrapper {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    &__fact {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-child {
            margin-bottom: 60px;
        }

        @include media-up(lg) {
            padding: 41px 57px 40px 57px;
        }
    }

    &__number {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $color-green;
        text-align: center;
    }

    &__header {
        margin-top: 25px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    &__button {
        margin-top: 30px;
    }
}