<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__menu">
                <nav class="footer-nav">
                    <ul class="footer-nav__list">
                        <li><a href="#">О мясе</a></li>
                        <li><a href="#">Экскурсия на ферму</a></li>
                        <li><a href="#">Проблема антибиотиков</a></li>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">О ферме</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Культура потребления</a></li>
                        <li><a href="#">История</a></li>
                    </ul>
                </nav>
            </div>

            <div class="footer__contacts">
                <div class="footer__links">
                    <a href="tel:+38 (073) 764 65 45" target="_blank">+38 (073) 764 65 45</a>
                    <a href="mailto:office.manager@agroplus2006.com" target="_blank">office.manager@agroplus2006.com</a>
                </div>

                <p class="footer__address">
                    Україна, Черкаська обл., Кам'янський р-н, с. Тимошівка, вул. Героїв Майдану, 53 б
                </p>
            </div>

            <div class="footer__main">
                <a href="/" class="footer__logo">
                    <svg>
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
                <p class="footer__text">Copyright © 2016</p>
                <p class="footer__text">ALL RIGHTS RESERVED</p>
                <p class="footer__text">Designed by <a href="#" class="footer__text-link">Livepage</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="js/app.bundle.js"></script>
</body>
</html>
