$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
);

$font: "Lato", -apple-system, system-ui, sans-serif;

$color-main:    #434963;
$color-green:   #209C3C;
$color-green-1: #0e882b;
$color-green-2: #096e20;
$color-white:   #F2F1F0;
$color-black:   #030E05;
$color-dark:    #29322B;