.bottom-banner {
  text-align: center;
  position: relative;
  height: 675px;

  @include media-up(lg) {
    height: 921px;
  }
  &__container {
    height: 100%;
  }

  &__content {
    max-width: 980px;
    margin: auto;
    padding-top: 100px;
    @include media-up(lg) {
      padding-top: 85px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    @include media-up(lg) {
      font-size: 45px;
      line-height: 1.47;
    }
  }

  &__subtitle {
    @include media-up(lg) {
      font-size: 20px;
    }
  }

  &__container {
    height: 100%;
  }

  .banner__button {
    bottom: 40px;
    @include media-up(lg) {
      display: inline-block;
      bottom: 0;
    }
  }

  &--excursion {
    height: 517px;

    @include media-up(lg) {
      height: 601px;
    }

    .bottom-banner__content {
      padding-top: 19px;
    }

    .bottom-banner__title {
      @include media-up(lg) {
        font-size: 28px;
        line-height: 40px;
      }
    }

    .banner__bg {
      height: 100%;
      object-position: top center;

      @include media-up(lg) {
        height: 500px;
        bottom: 0;
        top: auto;
      }
    }
  }
}
