.where_buy {
  padding: 30px 0 50px 0;

  @include media-up(lg) {
    padding: 80px 0 85px 0;
  }

  &--about-page {
    padding: 40px 0 30px 0;

    @include media-up(lg) {
      padding: 124px 0 60px 0;
    }
  }

  .section-title,
  .section-subtitle {
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows:minmax(140px, auto);
    grid-gap: 30px;
    margin: 30px 0 40px 0;
    @include media-up(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-up(lg) {
      padding: 0;
      margin: 50px 0 60px 0;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__item {
    text-align: center;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid #D8EADC;
      min-height: 147px;

      @include media-up(lg) {
        min-height: 166px;
      }

      img {
        margin: auto;
        object-fit: contain;
      }
    }

    &-link {
      display: inline-block;
      margin: 10px auto 0 auto;
      text-decoration: none;
      color: $color-dark;
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;

      @include media-up(lg) {
        margin: 27px auto 0 auto;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color-dark;
        transition: background .25s;
      }

    }

  }

}
