<section class="about--slider">
    <div class="swiper <%=contentClass%> about--slider__slider">
        <div class="about--slider__pagination"></div>
        <div class="swiper-wrapper">
            <div class="container about--slider_wrapper swiper-slide">
                <img src="<%=img.slide_one%>" alt="" class="about--slider__image">
                <div class="about--slider__content <%=contentClass%>">
                    <div class="about--slider__subheader"><%=subtitle.slide_one%></div>
                    <h2 class="about--slider__header"><%=title.slide_one%></h2>
                    <img src="<%=img.slide_one%>" alt="" class="about--slider__content-image">
                    <div class="about--slider__text"><%=text.slide_one%></div>
                </div>
            </div>
            <div class="container about--slider_wrapper swiper-slide">
                <img src="<%=img.slide_two%>" alt="" class="about--slider__image">
                <div class="about--slider__content <%=contentClass%>">
                    <div class="about--slider__subheader"><%=subtitle.slide_two%></div>
                    <h2 class="about--slider__header"><%=title.slide_two%></h2>
                    <img src="<%=img.slide_two%>" alt="" class="about--slider__content-image">
                    <div class="about--slider__text"><%=text.slide_two%></div>
                </div>
            </div>
            <div class="container about--slider_wrapper swiper-slide">
                <img src="<%=img.slide_three%>" alt="" class="about--slider__image">
                <div class="about--slider__content <%=contentClass%>">
                    <div class="about--slider__subheader"><%=subtitle.slide_three%></div>
                    <h2 class="about--slider__header"><%=title.slide_three%></h2>
                    <img src="<%=img.slide_three%>" alt="" class="about--slider__content-image">
                    <div class="about--slider__text"><%=text.slide_three%></div>
                </div>
            </div>
            <div class="container about--slider_wrapper swiper-slide">
                <img src="<%=img.slide_four%>" alt="" class="about--slider__image">
                <div class="about--slider__content <%=contentClass%>">
                    <div class="about--slider__subheader"><%=subtitle.slide_four%></div>
                    <h2 class="about--slider__header"><%=title.slide_four%></h2>
                    <img src="<%=img.slide_four%>" alt="" class="about--slider__content-image">
                    <div class="about--slider__text"><%=text.slide_four%></div>
                </div>
            </div>
        </div>
    </div>
</section>