<section class="banner-green <%=sectionClass%>">
    <%if (topSubtitle) {%>
        <div class="banner-green__top-subtitle"><%=topSubtitle%></div>
    <%}%>
    <%if (title) {%>
        <div class="banner-green__title"><%=title%></div>
    <%}%>
    <%if (bottomSubtitle) {%>
        <div class="banner-green__bottom-subtitle"><%=bottomSubtitle%></div>
    <%}%>
    <%if (greenCircle) {%>
        <div class="banner-green__circle">
            <svg width="16px" height="15px">
                <use xlink:href="#circle_arrow--down"></use>
            </svg>
        </div>
    <%}%>
    <%if (twoBlocks) {%>
        <div class="banner-green__two-blocks">
            <div class="banner-green__two-blocks-content">
                <div class="banner-green__two-blocks-texts">
                    <div class="banner-green__two-blocks-number"><%=twoBlocks.number.one%></div>
                    <div class="banner-green__two-blocks-header"><%=twoBlocks.header.one%></div>
                </div>
                <a href="#" class="btn btn--transparent btn--green-borders banner-green__two-blocks-button"><%=twoBlocks.buttonText.one%></a>
            </div>
            <div class="banner-green__two-blocks-content">
                <div class="banner-green__two-blocks-number"><%=twoBlocks.number.two%></div>
                <div class="banner-green__two-blocks-header"><%=twoBlocks.header.two%></div>
                <a href="#" class="btn btn--transparent btn--green-borders banner-green__two-blocks-button"><%=twoBlocks.buttonText.two%></a>
            </div>
        </div>
    <%}%>
</section>

