<section class="banner-green <%=sectionClass%>">
    <%if (topSubtitle) {%>
        <div class="banner-green__top-subtitle"><%=topSubtitle%></div>
    <%}%>
    <%if (title) {%>
        <div class="banner-green__title"><%=title%></div>
    <%}%>
    <%if (bottomSubtitle) {%>
        <div class="banner-green__bottom-subtitle"><%=bottomSubtitle%></div>
    <%}%>
        <div class="banner-green__circle">
            <svg width="16px" height="15px">
                <use xlink:href="#circle_arrow--down"></use>
            </svg>
        </div>
</section>

