.about {
    &_wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    &_image {
        margin-top: 20px;
        margin-left: -12px;
        width: 100vw;
        max-width: 100vw;
    }

    &_subheader {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $color-black;
    }

    &_header {
        margin-top: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;

        & > span {
            color: $color-green;
        }
    }

    &_text {
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: $color-dark;
    }
}