.about {
    &_wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;

        @include media-up(lg) {
            flex-direction: row;
            margin: 105px auto;
        }
    }

    &_image {
        margin-top: 20px;
        margin-left: -12px;
        width: 100vw;
        object-fit: cover;
        max-width: 100vw;

        @include media-up(md) {
            margin-left: -15px;
            margin-bottom: -15px;
        }

        @include media-up(lg) {
            margin: 0 98px 0 0;
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &--reverse {
                margin: 0 0 0 98px;
            }
        }

    }

    &_content {
        @include media-up(lg) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 23px;
        }

        &--center {
            justify-content: center;
        }

        &--reverse {
            order: -1;
        }
    }

    &_subheader {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $color-black;
        width: 100%;

        span {
            color: $color-green;
        }
    }

    &_header {
        margin-top: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;

        & > span {
            color: $color-green;
        }

        @include media-up(lg) {
            font-size: 28px;
            line-height: 40px;
        }
    }

    &_text {
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: $color-dark;

        @include media-up(lg) {
            font-size: 17px;
            line-height: 28px;
        }
    }
}