.btn {
  position: relative;
  display: block;
  padding: 17px 17px 18px;
  text-decoration: none;
  color: #030e05;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 2px);
    height: 3px;
    background: $color-green;
  }

  &--green {

  }

  &--blue {
    
  }
}