.btn {
  display: block;
  padding: 17px 17px 18px;
  text-decoration: none;
  color: $color-white;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  transition: background .25s, color .25s, border-color .25s;

  &--green {
    background: $color-green;
    transition: .25s;
    &:hover {
      background: #0b7924;
    }
  }

  &--transparent {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 0;
    background: transparent;

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: 3px;
      background: $color-green;
      transition: background .25s;
    }
  }

  &--grey-borders {
    position: relative;
    border: 1px solid rgba(3, 14, 5, 0.2);
    color: #030e05;

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: 3px;
      background: $color-green;
      transition: background .25s;
    }
  }

  &--center {
    margin: auto;
  }

  &--desktop {
    display: none;

    @include media-up(md) {
      display: block;
    }

  }
  &--mobile {
    display: block;

    @include media-up(md) {
      display: none;
    }
  }

  @include media-up(lg) {
    width: fit-content;
    padding: 18px 76.5px;
  }

  &--grey-borders,
  &--transparent {
    &:hover {
      color: #fff;
      background: #209C3C;
      border-color: #209C3C;
    }
  
    &:active {
      background: #0b7924;
      border-color: #0b7924;
      &:after {
        background: #0B7924;
        border-color: #0B7924;
      }
    }
  }

}
