.btn {
  display: block;
  padding: 17px 17px 18px;
  text-decoration: none;
  color: $color-white;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: $color-green;
  transition: background-color .25s, color .25s, border-color .25s;

  &:hover {
    background-color: $color-green-1;
  }

  &:active {
    background-color: $color-green-2;
  }

  @include media-up(lg) {
    width: fit-content;
    padding: 18px 76.5px;
  }

  &--disable {
    display: none;
  }

  &--transparent {
    position: relative;
    z-index: 1;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 0;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: 3px;
      background-color: $color-green;
      transition: background-color .25s, height .25s;
    }

    &:hover {      
      color: #fff;
      border-color: transparent;
      
      &:after {
        height: 100%;
        background-color: $color-green-1;
      }
    }

    &:active {
      &:after {
        background-color: $color-green-2;
      }
    }
  }

  &--grey-borders {
    @extend .btn--transparent;
    border: 1px solid rgba(3, 14, 5, 0.2);
    color: #030e05;
  }

  &--center {
    margin: auto;
  }

  &--desktop {
    display: none;

    @include media-up(md) {
      display: block;
    }
  }

  &--mobile {
    display: block;

    @include media-up(md) {
      display: none;
    }
  }
}
