.custom-select {
    position: relative;
    width: 100%;

    select {
        display: none;
    }

    .select-selected {
        cursor: pointer;
        background-color: #fff;
        padding: 12px 16px;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        margin-top: 4px;
        margin-bottom: 20px;

        @include media-up(md) {
            margin-top: 6px;
            margin-bottom: 30px;
        }

        &:after {
            position: absolute;
            content: none;
            top: 48px;
            right: 16px;
            width: 8px;
            height: 10px;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7071 0.727525C18.0976 1.11805 18.0976 1.75121 17.7071 2.14174L10.4142 9.43463C9.63316 10.2157 8.36684 10.2157 7.58579 9.43463L0.292892 2.14174C-0.0976315 1.75121 -0.0976315 1.11805 0.292892 0.727524C0.683418 0.336999 1.31658 0.337 1.70711 0.727524L9 8.02042L16.2929 0.727525C16.6834 0.337 17.3166 0.337 17.7071 0.727525Z' fill='%23757478'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            transition: transform 0.15s;

            @include media-up(md) {
                content: '';
            }
        }

        &.active {

            &:after {
                transform: rotate(-180deg);
            }
        }
    }

    .select-items {
        position: absolute;
        overflow: hidden;
        background: #fff;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;

        .select-item {
            padding: 14px 16px;
            cursor: pointer;
            background-color: var(--color-grey);

            &.selected,
            &:hover {
                background-color: var(--color-monochrome);
            }
        }
    }

    .select-hide {
        display: none;
    }
}
