.fancyform {
    display: none;
    max-width: 100%;
    padding: 0 !important;
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 100vh) * 100);
    top: 0;

    @include media-up(lg) {
        top: auto;
        width: 100%;
        height: auto;
        max-width: 80vw;
    }

    &__wrapper {
        height: calc(100vh - 61px);
        height: calc(var(--vh, 100vh) * 100 - 61px);
        @include media-up(lg) {
            height: 85vh;
            height: calc(var(--vh, 85vh) * 80);
            max-width: calc(80vw - 156px);
        }
    }


    &__modal-logo {
        padding: 12px;
        border-bottom: 1px #ccc solid;

        svg:first-child {
            margin-right: 12px;
        }

        svg:last-child {
            color: $color-green;
        }

        @include media-up(md) {
            display: none;
        }
    }

    &__title {
        margin-top: 38px;

        @include media-up(lg) {
            margin-top: 60px;
        }
    }

}

.fancybox__content {
    height: 85vh;
    overflow-y: auto;
}