.banner-green {
    position: relative;
    padding: 40px 12px;
    color: #fff;
    background-color: #209C3C;
    background-image: url('../img/icons/lines_bg--white.svg');

    & > * {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    &__top-subtitle {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 10px;

        @include media-up(lg) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;

        @include media-up (lg) {
            font-size: 45px;
            line-height: 66px;
        }
    }

    &__bottom-subtitle {
        display: block;
        margin-top: 7px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        
        @include media-up (lg) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%);
        width: 44px;
        height: 44px;
        background: #fff;
        border-radius: 100%;

        svg {
            color: $color-black;
        }
    }

    &__two-blocks {
        display: none;

        @include media-up(lg) {
            width: 100%;
            margin-top: 52px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 28px;
            position: absolute;
            z-index: 10;
            left: 50%;
            transform: translateX(-50%);
        }

        &-content {
            background: #fff;
            padding: 41px 57px 40px 57px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-number {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: $color-green;
        }

        &-header {
            margin-top: 10px;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 34px;
            color: $color-black;
        }

        &-button {
            margin-top: 38px;
        }

    }

    @include media-up(lg) {
        padding: 107px 100px 100px 100px;
    }

    &--small-padding {
        @include media-up(lg) {
            padding: 60px;
        }
    }

    &--two-blocks {
        @include media-up(lg) {
            padding-bottom: 209px;
        }
    }
}