.header {
  position: absolute;
  width: 100%;
  z-index: 999;

  .container {
    @include media-up(lg) {
      padding-top: 0;
    }
  }

  &__content {
    position: relative;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5px;
      background: $color-white-1;
      opacity: 0.2;
      @include media-up(lg) {
        top: 109px;
        width: 100vw;
        left: calc((100vw - 100%) / 2 * -1);
      }
    }

    .hamburger svg {
      color: #fff;
    }

    @include media-up(lg) {
      height: 106px;
    }
  }

  &__logo {
    color: #fff;
    transition: color .25s;
    z-index: 20;

    &:hover {
      color: $color-green;
    }

    @include media-up(lg) {

      padding: 33px 61px 31px 69px;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      border-right: 1px solid rgba(255, 255, 255, 0.3);

      svg:first-child {
        width: 121px;
        height: 30px;
        margin-right: 73px;
        margin-bottom: 4px;
      }

      svg:last-child {
        width: 88px;
        height: 41px;
      }
    }

  }

  &--black {

    .header {
      &__content {
        .hamburger svg {
          color: $color-black;
        }

        &:after {
          background: $color-black;
        }
      }

      &__logo {
        border-color: rgba(3, 14, 5, 0.3);
        color: $color-black;
        svg:nth-child(2n) {
          color: $color-green;
          @include media-down(lg) {
            margin-left: 14px;
          }
        }
      }
    }

    .nav {
      @include media-down(lg) {
        background: $color-white-1;
      }
    }

    .nav__list {
      a {
        color: $color-black;
      }
      .menu-item-has-children svg {
        color: $color-black;
      }
    }

  }
}

