.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 0.5px;
    background: $color-white;
    opacity: 0.2;
  }
  &__content {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    color: #fff;
    &:hover {
      color: $color-green;
    }
  }
  &__nav {
    position: fixed;
    right: 0;
    top: -100%;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: $color-black;
    .nav__list {
      width: 100%;
      margin-top: 170px;
      padding: 0 13px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      > li {
        padding: 10px 0;
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        a {
          display: inline-flex;
          align-items: center;
          position: relative;
          color: #fff;
          line-height: 1.75;
          text-decoration: none;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            background: $color-white;
            transition: all .3s;
          }
          &:hover {
            &:after {
              left: 0;
              width: 100%;
            }
          }
          &.menu-item-has-children {
            position: relative;
            &:hover {
              .sub-menu {
                height: initial;
              }
            }
            svg {
              cursor: pointer;
            }
            .sub-menu {
              position: absolute;
              top: 100%;
              left: 0;
              overflow: hidden;
              height: 0;
              li {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  //&__nav {
  //  display: none;
  //  .nav__list {
  //    display: flex;
  //    flex-wrap: wrap;
  //    align-items: center;
  //    li {
  //      display: flex;
  //      align-items: center;
  //      padding: 10px 0;
  //      &:not(:last-child) {
  //        margin-right: 20px;
  //      }
  //      a {
  //        position: relative;
  //        color: $color-white;
  //        text-decoration: none;
  //        letter-spacing: 0.02em;
  //        &:after {
  //          content: '';
  //          position: absolute;
  //          bottom: 0;
  //          left: 50%;
  //          width: 0;
  //          height: 1px;
  //          background: $color-white;
  //          transition: all .3s;
  //        }
  //        &:hover {
  //          &:after {
  //            left: 0;
  //            width: 100%;
  //          }
  //        }
  //      }
  //      &.menu-item-has-children {
  //        position: relative;
  //        &:hover {
  //          .sub-menu {
  //            height: initial;
  //          }
  //        }
  //        svg {
  //          cursor: pointer;
  //        }
  //        .sub-menu {
  //          position: absolute;
  //          top: 100%;
  //          left: 0;
  //          overflow: hidden;
  //          height: 0;
  //          li {
  //            margin-right: 0;
  //          }
  //        }
  //      }
  //    }
  //  }
  //  @include media-up(lg) {
  //    display: block;
  //  }
  //  @include media-up(xl) {
  //    .nav__list {
  //      li {
  //        &:not(:last-child) {
  //          margin-right: 38px;
  //        }
  //      }
  //    }
  //  }
  //}
  &__lang {
    display: none;
    .lang {
      &_select {

      }
      &_option {
        color: $color-white;
        display: none;
        &:first-child {
          display: block;
        }
      }
    }
    @include media-up(lg) {
      display: flex;
      align-items: center;
    }
  }
  @include media-up(lg) {
    &:after {
      width: 100%;
      left: 0;
    }
    &__content {
      height: 106px;
    }
    &__logo {
      padding: 0 40px;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      svg {
        &:first-child {
          width: 121px;
          height: 30px;
          margin-right: 40px;
        }
        &:last-child {
          width: 88px;
          height: 41px;
        }
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: -15px;
        width: 1px;
        height: calc(100% + 30px);
        background: $color-white;
        opacity: 0.2;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
  @include media-up(xl) {
    &__logo {
      padding: 0 60px;
      svg {
        &:first-child {
          margin-right: 70px;
        }
      }
    }
  }
}

