.nav {
  display: none;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding-top: 56px;
  background: $color-main;
  transform: translateX(-100%);
  transition: transform .5s;
  overflow: hidden;

  .show-menu & {
    transform: translateX(0);
  }

  &__wrapper {
    @include media-up(md) {
      height: inherit;
    }

    @include media-down(md) {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 16px 24px;
      overflow: auto;
    }

    @include media-only(md) {
      padding: 0 30px 50px;
    }
  }

  &__list {
    & > li {


      &.current-menu-item {

      }

      &:hover, &.submenu-open {
        ul {


        }
      }

      ul {
        display: none;

        @include media-up(lg) {

        }

        & > li {

        }
      }
    }

    a {

    }
  }

  &__address {
    width: 140px;

    @include media-up(md) {
      width: 200px;
    }
  }
}
