.nav {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 171px 12px 12px 12px;
  background: $color-black;
  transform: translateX(-100vw);
  transition: transform .5s;
  
  @include media-down(lg) {
    overflow: hidden;
  }

  @include media-up(lg) {
    position: relative;
    transform: translateX(0);
    padding: 0;
    left: 0;
    width: auto;
    height: 100%;
    background: none;

    ul {
      display: flex;
      & > li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 38px;
        
        ul {
          position: absolute;
        }
      }

      @include media-up(lg) {
        height: 100%;
        ul {
          display: block;
          min-width: 100%;
          top: 110px;
          text-align: center;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(13px);
          li {
            position: relative;
            margin: 0px;
            &:after {
              position: absolute;
              bottom: 0;
              content: '';
              width: calc(100% - 20px);
              height: 1px;
              background: #fff;
              opacity: .2;
            }
            &:last-child:after {
              display: none;
            }
          }
        }
      }
    }

  
  }

  .show-menu & {
    transform: translateX(0);
  }

  &__wrapper {
    @include media-up(md) {
      height: inherit;
    }

    @include media-down(md) {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 16px 24px;
      overflow: auto;
    }

    @include media-only(md) {
      padding: 0 30px 50px;
    }
  }

  &__list {
    & > li {
      
      margin-bottom: 32px;

      &.menu-item-has-children {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        svg {
          position: relative;
          top: 2px;
          margin-left: 8px;
          color: #fff;
          transition: transform  .25s;
        }

        @include media-up(lg) {
           svg {
             top: 0;
           }
        }
      }

      &:hover {
        @include media-up(lg) {
          svg {
            transform: rotate(180deg);
          }
          ul {
            max-height: 800px;
          }
        }
      }
      
      &.submenu-open {
        svg {
          transform: rotate(180deg);
        }
      }

      ul {
        width: 100%;
        transition: max-height 0.25s;
        max-height: 0px;
        overflow: hidden;

        & > li {
            margin-top: 20px;
            @include media-up(lg) {
              margin: 0;
              padding: 20px;
            }
        }

        @include media-up(lg) {
          width: auto;
          height: auto;
        }

      }

    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #fff;
      white-space: pre;
      @include media-up(lg) {
        &:hover {
          color: $color-green;
        }
      }
    }
  }

  &__address {
    width: 140px;

    @include media-up(md) {
      width: 200px;
    }
  }
}
