.nav {
  position: absolute;
  left: -12px;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 171px 12px 12px 12px;
  background: $color-black;
  transform: translateX(-100vw);
  transition: transform .5s;
  overflow: hidden;

  @include media-up(lg) {
    position: relative;
    transform: translateX(0);
    padding: 0;
    left: 0;
    width: auto;
    height: auto;
    background: none;

    ul {
      display: flex;
      & > li {
        margin: 0 0 0 38px;
        
        ul {
          position: absolute;
        }
      }
    }

  
  }

  .show-menu & {
    transform: translateX(0);
  }

  &__wrapper {
    @include media-up(md) {
      height: inherit;
    }

    @include media-down(md) {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 16px 24px;
      overflow: auto;
    }

    @include media-only(md) {
      padding: 0 30px 50px;
    }
  }

  &__list {
    & > li {
      
      margin-bottom: 32px;

      &.menu-item-has-children {
        position: relative;

        svg {
          position: relative;
          top: 4px;
          margin-left: 8px;
          color: #fff;
          transition: transform  .25s;
        }

        @include media-up(lg) {
          display: flex;
           align-items: center;

           svg {
             top: 0;
           }
        }
      }

      &:hover {
        @include media-up(lg) {
          svg {
            transform: rotate(180deg);
          }
        }
      }
      
      &.submenu-open {
        ul {

        }
        svg {
          transform: rotate(180deg);
        }
      }

      ul {
        transition: max-height 0.25s;
        max-height: 0px;
        overflow: hidden;

        @include media-up(lg) {
          max-height: auto;
        }

        & > li {
          margin-top: 20px;
        }
      }

    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #fff;
    }
  }

  &__address {
    width: 140px;

    @include media-up(md) {
      width: 200px;
    }
  }
}
