<div class="history-slider">
    <div class="container history-slider__wrapper">
        <div class="history-slider__title">ОТ ИДЕИ К СЕМЕЙНОМУ БИЗНЕСУ</div>

        <div class="history-slider__pagination"></div>

        <div class="swiper history-slider__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide history-slider__slide">
                    <div class="history-slider__subheader">2004 год</div>
                    <div class="history-slider__header">Томас впервые приехал из Австрии в Украину</div>
                    <img src="img/base/history-slide-1.jpg" alt="" class="history-slider__img">
                    <div class="history-slider__text">В 2004 году Томас Бруннер впервые приехал в Украину из Австрии, чтобы занять должность директора по маркетингу в компании Henkel. Его отец и брат приехали вслед за Томасом и активно занялись изучением сельского хозяйства в Украине.</div>
                </div>
                <div class="swiper-slide history-slider__slide">
                    <div class="history-slider__subheader">2006 год</div>
                    <div class="history-slider__header">Бруннеры и партнеры выкупили здания свинокомплекса и 1200 Га полей</div>
                    <img src="img/base/history-slide-2.jpg" alt="" class="history-slider__img">
                    <div class="history-slider__text">Интерес семьи к фермерскому делу привел к тому, что «Бруннеры и партнеры» выкупили здания свинокомплекса и вместе с ним права аренды на 1200 га земли. Так было создано предприятие «Агро Плюс 2006» — агрохозяйство, которое стало приносить прибыль уже в 2007 году.</div>
                </div>
                <div class="swiper-slide history-slider__slide">
                    <div class="history-slider__subheader">2011 год</div>
                    <div class="history-slider__header">Томас стал вкладывать силы в свиноводство</div>
                    <img src="img/base/history-slide-3.jpg" alt="" class="history-slider__img">
                    <div class="history-slider__text">Семья стала заниматься свиноводством, когда растениеводство стабильно приносило стабильную прибыль. Томас Бруннер оставил компанию Henkel и стал вкладывать все свое время в развитие новой отрасли. В этот период были закуплены первые 150 свиноматок отборных пород из Австрии. Одновременно Томас пригласил Михеля Кноха — консультанта из Германии, который подал идею выращивать поросят без антибиотиков.</div>
                </div>
                <div class="swiper-slide history-slider__slide">
                    <div class="history-slider__subheader">2013 - 2014 года</div>
                    <div class="history-slider__header">Расширение производства</div>
                    <img src="img/base/history-slide-4.jpg" alt="" class="history-slider__img">
                    <div class="history-slider__text">Инвестировали в расширение свинокомплекса почти 1 млн $ и увеличили поголовье свиноматок до 450 особей. При этом все также не использовали антибиотики и усовершенствовали систему Тимошовка. Это позволило увеличить объемы и получать необходимое для партнеров количество высококачественной свинины без антибиотиков. Стабильные поставки также стали залогом лояльности и крепких партнерских отношений.</div>
                </div>
                <div class="swiper-slide history-slider__slide">
                    <div class="history-slider__subheader">Наши дни</div>
                    <div class="history-slider__header">Развитие производства и дистрибуции</div>
                    <img src="img/base/history-slide-5.jpg" alt="" class="history-slider__img">
                    <div class="history-slider__text">Сегодня предприятие продолжает инвестировать часть прибыли в развитие производства и делает ставку на постепенный рост. На ферме содержатся около 500 свиноматок и 4500 поголовья, мы сотрудничаем с GoodWine и WineTine и постепенно ищем новых партнеров для реализации нашей продукции.</div>
                </div>
            </div>
        </div>
    </div>
</div>