<div class="smi-links">
    <div class="container-small smi-links__wrapper">
        <div class="smi-links__title">Tomaso в СМИ</div>
        <a href="#" class="smi-links__link">
            <div class="smi-links__header">Швейцарское признание: украинская свинина без антибиотиков</div>
            <div class="smi-links__date">15.06.2020</div>
        </a>
        <a href="#" class="smi-links__link">
            <div class="smi-links__header">Еко-свині. Як топ-менеджер з Австрії фермерствує в Україні?</div>
            <div class="smi-links__date">15.06.2020</div>
        </a>
        <a href="#" class="smi-links__link">
            <div class="smi-links__header">Швейцарское признание: украинская свинина без антибиотиков</div>
            <div class="smi-links__date">15.06.2020</div>
        </a>
        <a href="#" class="smi-links__link">
            <div class="smi-links__header">Еко-свині. Як топ-менеджер з Австрії фермерствує в Україні?</div>
            <div class="smi-links__date">15.06.2020</div>
        </a>
        <a href="#" class="smi-links__link">
            <div class="smi-links__header">Швейцарское признание: украинская свинина без антибиотиков</div>
            <div class="smi-links__date">15.06.2020</div>
        </a>
        <a href="#" class="smi-links__link">
            <div class="smi-links__header">Еко-свині. Як топ-менеджер з Австрії фермерствує в Україні?</div>
            <div class="smi-links__date">15.06.2020</div>
        </a>
    </div>
</div>